@keyframes fireFlame {
  0% {
    border-image-source: url('https://gravatar.com/avatar/00000000000000000000000000000000?d=mp');
  }
  25% {
    border-image-source: url('https://www.freepnglogos.com/uploads/flame-png/fire-flame-png-image-purepng-transparent-png-16.png');
  }
  50% {
    border-image-source: url('https://www.freepnglogos.com/uploads/flame-png/fire-flame-png-image-purepng-transparent-png-16.png');
  }
  75% {
    border-image-source: url('https://www.freepnglogos.com/uploads/flame-png/fire-flame-png-image-purepng-transparent-png-16.png');
  }
  100% {
    border-image-source: url('https://www.freepnglogos.com/uploads/flame-png/fire-flame-png-image-purepng-transparent-png-16.png');
  }
}


.flame-box {
  border: 1px solid transparent;
  padding: 10px;
  position: relative;
  animation: fireFlame 2s linear infinite;
}


