.heartIcon {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  transition: background-color 0.1s;
}

.heartIcon:hover {
  background-color: darkgrey;
}


.buttonContainer {
  background-color: transparent;
  color: black;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.buttonContainer:hover {
  transform: translateX(5px);
  background-color: transparent;
}


/* .MuiSlider-valueLabel {
  background-color: red;
} */

/* 
.MuiSlider-valueLabel span {
  color: grey;
} */